body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

header {
  background: #111;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid red;
}

nav {
  background: #000;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.balance {
  color: #0f0;
}

.title {
  padding: 15px;
}

.match {
  background: #1a1a1a;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
}

.teams {
  margin-bottom: 10px;
  font-weight: bold;
}

.match button {
  padding: 10px;
  margin-right: 10px;
  background: green;
  border: none;
  color: white;
  border-radius: 5px;
}

.center {
  text-align: center;
  padding: 40px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

button {
  padding: 10px 20px;
}
